﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script type="text/javascript" src="~/wwwroot/lib/react/react.js"></script>
    <script type="text/javascript" src="~/wwwroot/lib/react/react-dom.js"></script>
</head>
<body>
    <div id="content">
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
    @Html.ReactInitJavaScript()
</body>
</html>
